VTServer/GirocheckFront/src/main/webapp/WEB-INF/wsdl/Scan.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://scan.girocheck.smartbt.com/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" 
           targetNamespace="http://scan.girocheck.smartbt.com/">

  
    <xs:element name="checkAuth" type="tns:checkAuth"/>
  
    <xs:element name="activityReport" type="tns:activityReport"/>
  
    <xs:element name="tecnicardConfirmation" type="tns:tecnicardConfirmation"/>
    
    <xs:element name="cardReload" type="tns:cardReload"/>
    
    <xs:element name="cardReloadData" type="tns:cardReloadData"/>

    <xs:element name="checkAuthLocationConfig" type="tns:checkAuthLocationConfig"/>

    <xs:element name="checkAuthLocationConfigResponse" type="tns:checkAuthLocationConfigResponse"/>

    <xs:element name="checkAuthResponse" type="tns:checkAuthResponse"/>

    <xs:element name="activityReportResponse" type="tns:activityReportResponse"/>

    <xs:element name="tecnicardConfirmationResponse" type="tns:tecnicardConfirmationResponse"/>
    
    <xs:element name="cardReloadResponse" type="tns:cardReloadResponse"/>

    <xs:element name="checkAuthSubmit" type="tns:checkAuthSubmit"/>

    <xs:element name="checkAuthSubmitResponse" type="tns:checkAuthSubmitResponse"/>

    <xs:element name="balanceInquiry" type="tns:balanceInquiry"/>
    
    <xs:element name="balanceInquiryResponse" type="tns:balanceInquiryResponse"/>
    
    <xs:element name="cardToBank" type="tns:cardToBank"/>
    
    <xs:element name="cardToBankResponse" type="tns:cardToBankResponse"/>
    
    <xs:element name="cardToBankConfirmation" type="tns:cardToBankConfirmation"/>
    
    <xs:element name="cardToBankConfirmationResponse" type="tns:cardToBankConfirmationResponse"/>


    <xs:complexType name="checkAuthSubmit">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthSubmitRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthSubmitRequest">
        <xs:sequence>
             <xs:element name="user" type="xs:string" minOccurs="1" />
            <xs:element name="password" type="xs:string" minOccurs="1"/>
            <xs:element name="requestId" type="xs:string" minOccurs="1"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            <xs:element name="action" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthSubmitResponse">
         <xs:sequence>
            <xs:element name="return" type="tns:CheckAuthSubmitRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CheckAuthSubmitRes">
        <xs:sequence>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuth">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityReport">
        <xs:sequence>
            <xs:element name="arg0" type="tns:activityReportRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tecnicardConfirmation">
        <xs:sequence>
            <xs:element name="arg0" type="tns:tecnicardConfirmationRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
        
            <xs:element name="addressCorrect" type="xs:string" minOccurs="0"/>
            <xs:element name="addressForm" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="backTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="batchName" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="checkBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="checkFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="crc" type="xs:string" minOccurs="0"/>
            <xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="frontTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="micr" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="scannerManufacturer" type="xs:string" minOccurs="0"/>
            <xs:element name="serial" type="xs:string" minOccurs="0"/>
            <xs:element name="ssn" type="xs:string" minOccurs="0"/>
            <xs:element name="operation" type="xs:string" minOccurs="0"/>
            <xs:element name="track1" type="xs:string" minOccurs="0"/>
            <xs:element name="track2" type="xs:string" minOccurs="0"/>
            <xs:element name="dlDataScan" type="xs:string" minOccurs="0"/>
            <xs:element name="dlDataSwipe" type="xs:string" minOccurs="0"/>
            
            <xs:element name="tecnicardValidationResponse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityReportRequest">
        <xs:sequence>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/> 
            <xs:element name="startDate" type="xs:string" minOccurs="0"/> 
            <xs:element name="endDate" type="xs:string" minOccurs="0"/> 
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="tecnicardConfirmationRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
        
            <xs:element name="truncatedCheck" type="xs:base64Binary" minOccurs="0"/>
            
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CheckAuthRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CheckAuthRes">
        <xs:sequence>
            <!--<xs:element name="checkId" type="xs:string" minOccurs="0"/>-->
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityReportResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:ActivityReportRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="Transaction">
        <xs:sequence> 
            <xs:element name="transactionType" type="xs:string" minOccurs="0"/>
            <xs:element name="dateTime" type="xs:string" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
 
      <xs:complexType name="Transactions">
        <xs:sequence>
            <xs:element name="transaction" type="tns:Transaction" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="ActivityReportRes">
        <xs:sequence> 
            <xs:element name="check2cardCount" type="xs:string" minOccurs="0"/>
            <xs:element name="cash2cardCount" type="xs:string" minOccurs="0"/>
            <xs:element name="card2merchantCount" type="xs:string" minOccurs="0"/>
            
            <xs:element name="check2cardTotal" type="xs:string" minOccurs="0"/>
            <xs:element name="cash2cardTotal" type="xs:string" minOccurs="0"/>
            <xs:element name="card2merchantTotal" type="xs:string" minOccurs="0"/>
            
            <xs:element name="cashIn" type="xs:string" minOccurs="0"/>
            <xs:element name="cashOut" type="xs:string" minOccurs="0"/>
            <xs:element name="netCash" type="xs:string" minOccurs="0"/>
            
            <xs:element name="totalRows" type="xs:string" minOccurs="0"/>
            <xs:element name="success" type="xs:string" minOccurs="0"/>
            
            <xs:element name="check2cardTransactions" type="tns:Transactions" minOccurs="0"/>
            <xs:element name="cash2cardTransactions" type="tns:Transactions" minOccurs="0"/>
            <xs:element name="card2merchantTransactions" type="tns:Transactions" minOccurs="0"/>
 
        </xs:sequence>
    </xs:complexType>
<!--
    <xs:complexType name="ActivityReportRes">
        <xs:sequence> 
            <xs:element name="salida" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>-->

    <xs:complexType name="tecnicardConfirmationResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:TecnicardConfirmationRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TecnicardConfirmationRes">
        <xs:sequence>
            <xs:element name="printLogo" type="xs:string" minOccurs="0"/>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

<!-- ****************************************RELOAD **************************************** -->

    <xs:complexType name="cardReload">
        <xs:sequence>
            <xs:element name="arg0" type="tns:cardReloadRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardReloadRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
        
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="backTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="batchName" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="checkBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="checkFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="crc" type="xs:string" minOccurs="0"/>
            <xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="frontTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="micr" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="scannerManufacturer" type="xs:string" minOccurs="0"/>
            <xs:element name="serial" type="xs:string" minOccurs="0"/>
            <xs:element name="ssn" type="xs:string" minOccurs="0"/>
            <xs:element name="operation" type="xs:string" minOccurs="0"/>
            <xs:element name="track1" type="xs:string" minOccurs="0"/>
            <xs:element name="track2" type="xs:string" minOccurs="0"/>
            <xs:element name="dlDataScan" type="xs:string" minOccurs="0"/>
            <xs:element name="dlDataSwipe" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardReloadResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CardReloadRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CardReloadRes">
        <xs:sequence>
            <xs:element name="checkId" type="xs:string" minOccurs="0"/>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

<!-- ****************************************RELOAD **************************************** -->

<!-- ****************************************RELOAD DATA **************************************** -->

    <xs:complexType name="cardReloadData">
        <xs:sequence>
            <xs:element name="arg0" type="tns:cardReloadDataRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardReloadDataRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
        
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="backTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="batchName" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="checkBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="checkFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="crc" type="xs:string" minOccurs="0"/>
            <xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="frontTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="micr" type="xs:string" minOccurs="0"/>
            <xs:element name="scannerManufacturer" type="xs:string" minOccurs="0"/>
            <xs:element name="serial" type="xs:string" minOccurs="0"/>
            <xs:element name="operation" type="xs:string" minOccurs="0"/>
            <xs:element name="track1" type="xs:string" minOccurs="0"/>
            <xs:element name="track2" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardReloadDataResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CardReloadDataRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CardReloadDataRes">
        <xs:sequence>
            <xs:element name="checkId" type="xs:string" minOccurs="0"/>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

 <!--****************************************RELOAD DATA ****************************************--> 

    <xs:complexType name="checkAuthLocationConfig">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthLocationConfigRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthLocationConfigRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="operation" type="xs:string" minOccurs="0"/>
            <xs:element name="tecnicardValidationResponse" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthLocationConfigResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CheckAuthLocationConfigRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CheckAuthLocationConfigRes">
        <xs:sequence>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
            <xs:element name="authFeem" type="xs:string" minOccurs="0"/>
            <xs:element name="authFeep" type="xs:string" minOccurs="0"/>
            <xs:element name="crdldf" type="xs:string" minOccurs="0"/>
            <xs:element name="activationFee" type="xs:string" minOccurs="0"/> 
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="balanceInquiry">
        <xs:sequence>
            <xs:element name="arg0" type="tns:balanceInquiryRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceInquiryRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceInquiryResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:BalanceInquiryRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BalanceInquiryRes">
        <xs:sequence>
            <xs:element name="balance" type="xs:string" minOccurs="0"/>
            <xs:element name="inTransitFunds" type="xs:string" minOccurs="0"/>
            <xs:element name="printLogo" type="xs:string" minOccurs="0"/>
            <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
            <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

<!--    <xs:complexType name="cardToBank">
        <xs:sequence>
            <xs:element name="arg0" type="tns:cardToBankRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardToBankRequest">
        <xs:sequence>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="requestId" type="xs:string" minOccurs="0"/>
            <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="routingBankNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardToBankResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CardToBankRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

        <xs:complexType name="CardToBankRes">
            <xs:sequence>
                <xs:element name="transactionNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="amount" type="xs:string" minOccurs="0"/>
                <xs:element name="date" type="xs:string" minOccurs="0"/>
                <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
                <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>-->
    
        <!--  MODIFICATION For CARDTOBANK  -->
    
        <xs:complexType name="cardToBank">
            <xs:sequence>
                <xs:element name="arg0" type="tns:cardToBankRequest" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="cardToBankRequest">
            <xs:sequence>
                <xs:element name="user" type="xs:string" minOccurs="0"/>
                <xs:element name="password" type="xs:string" minOccurs="0"/>
                <xs:element name="requestId" type="xs:string" minOccurs="0"/>
                <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            
                <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
                <!--            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>-->
                <!--            <xs:element name="routingBankNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="amount" type="xs:string" minOccurs="0"/>-->
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="cardToBankResponse">
            <xs:sequence>
                <xs:element name="return" type="tns:CardToBankRes" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    
        <xs:complexType name="CardToBankRes">
            <!--        <xs:sequence>
                <xs:element name="transactionNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="amount" type="xs:string" minOccurs="0"/>
                <xs:element name="date" type="xs:string" minOccurs="0"/>
                <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
                <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>-->
            <xs:sequence>
                <xs:element name="merchantName" type="xs:string" minOccurs="0"/>
                <xs:element name="customerAddress" type="xs:string" minOccurs="0"/>
                <xs:element name="customerName" type="xs:string" minOccurs="0"/> 
                <xs:element name="bankName" type="xs:string" minOccurs="0"/>
                <xs:element name="routingBankNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="accountNumer" type="xs:string" minOccurs="0"/>
                <xs:element name="bankName" type="xs:string" minOccurs="0"/>
                <xs:element name="existAch" type="xs:string" minOccurs="0"/>
                <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    
        <!--    New WS    -->

        <xs:complexType name="cardToBankConfirmation">
            <xs:sequence>
                <xs:element name="arg0" type="tns:cardToBankConfirmationRequest" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="cardToBankConfirmationRequest">
            <xs:sequence>
                <xs:element name="user" type="xs:string" minOccurs="0"/>
                <xs:element name="password" type="xs:string" minOccurs="0"/>
                <xs:element name="requestId" type="xs:string" minOccurs="0"/>
                <xs:element name="terminalId" type="xs:string" minOccurs="0"/>
            
                <xs:element name="achForm" type="xs:base64Binary" minOccurs="0"/>
                <xs:element name="existAch" type="xs:string" minOccurs="0"/>
                <!--            <xs:element name="approved" type="xs:string" minOccurs="0"/>-->
                <xs:element name="amount" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="cardToBankConfirmationResponse">
            <xs:sequence>
                <xs:element name="return" type="tns:CardToBankConfirmationRes" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="CardToBankConfirmationRes">
            <xs:sequence>
                <xs:element name="transactionNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="amount" type="xs:string" minOccurs="0"/>
                <xs:element name="printLogo" type="xs:string" minOccurs="0"/>
                <xs:element name="date" type="xs:string" minOccurs="0"/>
                <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
                <xs:element name="resultMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    
</xs:schema>
