VTServer/GirocheckFront/src/wsdl/Scan.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://scan.girocheck.smartbt.com/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" 
           targetNamespace="http://scan.girocheck.smartbt.com/">

    <xs:element name="personalInfo" type="tns:personalInfo"/>
    <xs:element name="personalInfoResponse" type="tns:personalInfoResponse"/>
    
    <xs:element name="checkAuth" type="tns:checkAuth"/>
    
    <xs:element name="activityReport" type="tns:activityReport"/>

    <xs:element name="checkAuthLocationConfig" type="tns:checkAuthLocationConfig"/>

    <xs:element name="checkAuthLocationConfigResponse" type="tns:checkAuthLocationConfigResponse"/>

    <xs:element name="checkAuthResponse" type="tns:checkAuthResponse"/>

    <xs:element name="activityReportResponse" type="tns:activityReportResponse"/>

    <xs:element name="checkAuthSubmit" type="tns:checkAuthSubmit"/>

    <xs:element name="checkAuthSubmitResponse" type="tns:checkAuthSubmitResponse"/>

    <xs:element name="balanceInquiry" type="tns:balanceInquiry"/>
    
    <xs:element name="balanceInquiryResponse" type="tns:balanceInquiryResponse"/>
    
    <xs:element name="cardToBank" type="tns:cardToBank"/>
    
    <xs:element name="cardToBankResponse" type="tns:cardToBankResponse"/>

    
    <xs:complexType name="personalInfo">
        <xs:sequence>
            <xs:element name="arg0" type="tns:personalInfoRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personalInfoRequest">
        <xs:sequence>
            <xs:element name="idType" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="telephone" type="xs:string" minOccurs="0"/>
            <xs:element name="telephoneAreaCode" type="xs:string" minOccurs="0"/>
            <xs:element name="cellphone" type="xs:string" minOccurs="0"/>
            <xs:element name="cellphoneAreaCode" type="xs:string" minOccurs="0"/>
            <xs:element name="faxphone" type="xs:string" minOccurs="0"/>
            <xs:element name="faxAreaCode" type="xs:string" minOccurs="0"/>
            <xs:element name="workphone" type="xs:string" minOccurs="0"/>
            <xs:element name="workphoneAreaCode" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="address" type="xs:string" minOccurs="0"/>
            <xs:element name="city" type="xs:string" minOccurs="0"/>
            <xs:element name="state" type="xs:string" minOccurs="0"/>
            <xs:element name="idState" type="xs:string" minOccurs="0"/>
            <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
            <xs:element name="country" type="xs:string" minOccurs="0"/>
            <xs:element name="idCountry" type="xs:string" minOccurs="0"/>
            <xs:element name="personTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="firstName" type="xs:string" minOccurs="0"/>
            <xs:element name="middleName" type="xs:string" minOccurs="0"/>
            <xs:element name="maidenName" type="xs:string" minOccurs="0"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            <xs:element name="lastNameM" type="xs:string" minOccurs="0"/>
            <xs:element name="bornDate" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="personalInfoResponse">
        <xs:sequence/>
    </xs:complexType>
  

    <xs:complexType name="checkAuthSubmit">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthSubmitRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthSubmitRequest">
        <xs:sequence>
            <xs:element name="action" type="xs:string" minOccurs="0"/>
            <xs:element name="checkId" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthSubmitResponse">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="checkAuth">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthRequest">
        <xs:sequence>
            <xs:element name="addressCorrect" type="xs:string" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="backTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="batchName" type="xs:string" minOccurs="0"/>
            <xs:element name="cardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="checkBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="checkFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="crc" type="xs:string" minOccurs="0"/>
            <xs:element name="data" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="entityNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="frontTiff" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idBack" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="idFront" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="iqaRawData" type="xs:string" minOccurs="0"/>
            <xs:element name="micr" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="scanTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="scannerManufacturer" type="xs:string" minOccurs="0"/>
            <xs:element name="sendTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="sendUser" type="xs:string" minOccurs="0"/>
            <xs:element name="serial" type="xs:string" minOccurs="0"/>
            <xs:element name="ssn" type="xs:string" minOccurs="0"/>
            <xs:element name="idTransactionType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CheckAuthRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CheckAuthRes">
        <xs:sequence>
            <xs:element name="checkId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    
    

    <xs:complexType name="activityReport">
        <xs:sequence>
            <xs:element name="arg0" type="tns:activityReportRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityReportRequest">
        <xs:sequence>
            <xs:element name="entrada" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityReportResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:ActivityReportRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActivityReportRes">
        <xs:sequence>
            <xs:element name="transactions" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthLocationConfig">
        <xs:sequence>
            <xs:element name="arg0" type="tns:checkAuthLocationConfigRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthLocationConfigRequest">
        <xs:sequence>
            <xs:element name="entityId" type="xs:int"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="user" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkAuthLocationConfigResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CheckAuthLocationConfigRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CheckAuthLocationConfigRes">
        <xs:sequence>
            <xs:element name="configList" type="tns:code" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="code">
        <xs:sequence>
            <xs:element name="extra" type="xs:string" minOccurs="0"/>
            <xs:element name="extra2" type="xs:string" minOccurs="0"/>
            <xs:element name="label" type="xs:string" minOccurs="0"/>
            <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceInquiry">
        <xs:sequence>
            <xs:element name="arg0" type="tns:balanceInquiryRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceInquiryRequest">
        <xs:sequence>
            <xs:element name="pRequestID" type="xs:string" minOccurs="0"/>
            <xs:element name="pCardNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="balanceInquiryResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:BalanceInquiryRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BalanceInquiryRes">
        <xs:sequence>
            <xs:element name="balance" type="xs:string" minOccurs="0"/>
            <xs:element name="inTransitFunds" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardToBank">
        <xs:sequence>
            <xs:element name="arg0" type="tns:cardToBankRequest" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardToBankRequest">
        <xs:sequence>
            <xs:element name="pRequestID" type="xs:string" minOccurs="0"/>
            <xs:element name="pCardNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="pAccountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="pRoutingBankNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="pAmount" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cardToBankResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:CardToBankRes" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CardToBankRes">
        <xs:sequence>
            <xs:element name="transactionNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="amount" type="xs:string" minOccurs="0"/>
            <xs:element name="date" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
