VTServer/Compliance/Compliance-ejb/src/wsdl/Westech_WSDL.xml.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="CheckProcess">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkFront" type="s:base64Binary"/>
<s:element minOccurs="0" maxOccurs="1" name="checkBack" type="s:base64Binary"/>
<s:element minOccurs="0" maxOccurs="1" name="idProof" type="s:base64Binary"/>
<s:element minOccurs="0" maxOccurs="1" name="idProof2dBarcode" type="s:base64Binary"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CheckProcessResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="CheckProcessResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="CheckProcessSoapIn">
<wsdl:part name="parameters" element="tns:CheckProcess"/>
</wsdl:message>
<wsdl:message name="CheckProcessSoapOut">
<wsdl:part name="parameters" element="tns:CheckProcessResponse"/>
</wsdl:message>
<wsdl:portType name="CheckServiceSoap">
<wsdl:operation name="CheckProcess">
<wsdl:input message="tns:CheckProcessSoapIn"/>
<wsdl:output message="tns:CheckProcessSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CheckServiceSoap" type="tns:CheckServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CheckProcess">
<soap:operation soapAction="http://tempuri.org/CheckProcess" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="CheckServiceSoap12" type="tns:CheckServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CheckProcess">
<soap12:operation soapAction="http://tempuri.org/CheckProcess" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CheckService">
<wsdl:port name="CheckServiceSoap" binding="tns:CheckServiceSoap">
<soap:address location="http://10.10.11.152/CheckService.asmx"/>
</wsdl:port>
<wsdl:port name="CheckServiceSoap12" binding="tns:CheckServiceSoap12">
<soap12:address location="http://10.10.11.152/CheckService.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>