VTServer/OrderExpress/OrderExpress-ejb/src/wsdl/Service1.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://client.boundary.vtsuite.smartbt.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://client.boundary.vtsuite.smartbt.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://client.boundary.vtsuite.smartbt.com/">
            <s:element name="contrataciones">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="cadena" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="Corresponsales" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="ruta_ejecutar" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="contratacionesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="contratacionesResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="contratacionesSoapIn">
        <wsdl:part name="parameters" element="tns:contrataciones" />
    </wsdl:message>
    <wsdl:message name="contratacionesSoapOut">
        <wsdl:part name="parameters" element="tns:contratacionesResponse" />
    </wsdl:message>
    <wsdl:message name="contratacionesHttpPostIn">
        <wsdl:part name="cadena" type="s:string"/>
        <wsdl:part name="Datos" type="s:string"/>
        <wsdl:part name="Corresponsales" type="s:string"/>
        <wsdl:part name="ruta_ejecutar" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="contratacionesHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="contratacionesHttpGetIn">
        <wsdl:part name="cadena" type="s:string" />
        <wsdl:part name="Datos" type="s:string" />
        <wsdl:part name="Corresponsales" type="s:string" />
        <wsdl:part name="ruta_ejecutar" type="s:string" />
    </wsdl:message>
    <wsdl:message name="contratacionesHttpGetOut">
        <wsdl:part name="Body" element="tns:string" />
    </wsdl:message>
    <wsdl:portType name="Service1Soap">
        <wsdl:operation name="contrataciones">
            <wsdl:input message="tns:contratacionesSoapIn" />
            <wsdl:output message="tns:contratacionesSoapOut" />
        </wsdl:operation>
        <jaxws:bindings>
            <jaxws:class name="Service1Soap"/>
        </jaxws:bindings>
    </wsdl:portType>
    <wsdl:portType name="Service1HttpGet">
        <wsdl:operation name="contrataciones">
            <wsdl:input message="tns:contratacionesHttpGetIn" />
            <wsdl:output message="tns:contratacionesHttpGetOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Service1HttpPost">
        <wsdl:operation name="contrataciones">
            <wsdl:input message="tns:contratacionesHttpPostIn" />
            <wsdl:output message="tns:contratacionesHttpPostOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="contrataciones">
            <soap:operation soapAction="http://client.boundary.vtsuite.smartbt.com/contrataciones" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="contrataciones">
            <soap12:operation soapAction="http://client.boundary.vtsuite.smartbt.com/contrataciones" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="contrataciones">
            <http:operation location="/contrataciones"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
        <http:binding verb="POST" />
        <wsdl:operation name="contrataciones">
            <http:operation location="/contrataciones" />
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service1">
        <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
            <soap:address location="http://10.10.2.119:8081/stored/Service1.asmx" />
        </wsdl:port>
        <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
            <soap12:address location="http://10.10.2.119:8081/stored/Service1.asmx" />
        </wsdl:port>
        <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
            <http:address location="http://10.10.2.119:8081/stored/Service1.asmx" />
        </wsdl:port>
        <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
            <http:address location="http://10.10.2.119:8081/stored/Service1.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>