VTServer/Tecnicard/Tecnicard-ejb/src/wsdl/miadev.warp68.net_48080/iStream/iStream.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://istream.smartbt.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://istream.smartbt.com/" name="iStream">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://istream.smartbt.com/" schemaLocation="http://miadev.warp68.net:48080/iStream/iStream?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="cashAuth">
        <part name="parameters" element="tns:cashAuth"/>
    </message>
    <message name="cashAuthResponse">
        <part name="parameters" element="tns:cashAuthResponse"/>
    </message>
    <message name="checkAuthLocationConfig">
        <part name="parameters" element="tns:checkAuthLocationConfig"/>
    </message>
    <message name="checkAuthLocationConfigResponse">
        <part name="parameters" element="tns:checkAuthLocationConfigResponse"/>
    </message>
    <message name="checkAuth">
        <part name="parameters" element="tns:checkAuth"/>
    </message>
    <message name="checkAuthResponse">
        <part name="parameters" element="tns:checkAuthResponse"/>
    </message>
    <message name="enhancedCheckAuthPoll">
        <part name="parameters" element="tns:enhancedCheckAuthPoll"/>
    </message>
    <message name="enhancedCheckAuthPollResponse">
        <part name="parameters" element="tns:enhancedCheckAuthPollResponse"/>
    </message>
    <message name="checkAuthSubmit">
        <part name="parameters" element="tns:checkAuthSubmit"/>
    </message>
    <message name="checkAuthSubmitResponse">
        <part name="parameters" element="tns:checkAuthSubmitResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="enhancedCashAuthPoll">
        <part name="parameters" element="tns:enhancedCashAuthPoll"/>
    </message>
    <message name="enhancedCashAuthPollResponse">
        <part name="parameters" element="tns:enhancedCashAuthPollResponse"/>
    </message>
    <message name="cashAuthSubmit">
        <part name="parameters" element="tns:cashAuthSubmit"/>
    </message>
    <message name="cashAuthSubmitResponse">
        <part name="parameters" element="tns:cashAuthSubmitResponse"/>
    </message>
    <portType name="iStream">
        <operation name="cashAuth">
            <input wsam:Action="http://istream.smartbt.com/iStream/cashAuthRequest" message="tns:cashAuth"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/cashAuthResponse" message="tns:cashAuthResponse"/>
        </operation>
        <operation name="checkAuthLocationConfig">
            <input wsam:Action="http://istream.smartbt.com/iStream/checkAuthLocationConfigRequest" message="tns:checkAuthLocationConfig"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/checkAuthLocationConfigResponse" message="tns:checkAuthLocationConfigResponse"/>
        </operation>
        <operation name="checkAuth">
            <input wsam:Action="http://istream.smartbt.com/iStream/checkAuthRequest" message="tns:checkAuth"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/checkAuthResponse" message="tns:checkAuthResponse"/>
        </operation>
        <operation name="enhancedCheckAuthPoll">
            <input wsam:Action="http://istream.smartbt.com/iStream/enhancedCheckAuthPollRequest" message="tns:enhancedCheckAuthPoll"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/enhancedCheckAuthPollResponse" message="tns:enhancedCheckAuthPollResponse"/>
        </operation>
        <operation name="checkAuthSubmit">
            <input wsam:Action="http://istream.smartbt.com/iStream/checkAuthSubmitRequest" message="tns:checkAuthSubmit"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/checkAuthSubmitResponse" message="tns:checkAuthSubmitResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://istream.smartbt.com/iStream/checkAuthSubmit/Fault/Exception"/>
        </operation>
        <operation name="enhancedCashAuthPoll">
            <input wsam:Action="http://istream.smartbt.com/iStream/enhancedCashAuthPollRequest" message="tns:enhancedCashAuthPoll"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/enhancedCashAuthPollResponse" message="tns:enhancedCashAuthPollResponse"/>
        </operation>
        <operation name="cashAuthSubmit">
            <input wsam:Action="http://istream.smartbt.com/iStream/cashAuthSubmitRequest" message="tns:cashAuthSubmit"/>
            <output wsam:Action="http://istream.smartbt.com/iStream/cashAuthSubmitResponse" message="tns:cashAuthSubmitResponse"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://istream.smartbt.com/iStream/cashAuthSubmit/Fault/Exception"/>
        </operation>
    </portType>
    <binding name="iStreamPortBinding" type="tns:iStream">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="cashAuth">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkAuthLocationConfig">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkAuth">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enhancedCheckAuthPoll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkAuthSubmit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="enhancedCashAuthPoll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cashAuthSubmit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="iStream">
        <port name="iStreamPort" binding="tns:iStreamPortBinding">
            <soap:address location="http://miadev.warp68.net:48080/iStream/iStream"/>
        </port>
    </service>
</definitions>